<% include ./partials/header %>
<h1>Results Page!</h1>

<% data["Search"].forEach(function(movie) { %>
   
   <p><a href=<%= "/movies/" + movie.imdbID %>   <li> <%= movie["Title"] %> - <%= movie.Year %> </li> </a></p>
   
   
   
   
   
<% }); %>



<% include ./partials/footer %>