<% include ./partials/header %>
<div class="ui center fluid container"></div>
    <h1>Search for a movie!</h1>




    <form action="/results" method="GET">
        <input type="text" placeholder="Search term" name="search">
        <input type="submit">
    
    </form>

    <h2>Your watch list</h2>
    <% movies.forEach(function(movie) { %>
        <a href=<%= "/movies/" + movie.imdbID %>> <%= movie.name%></a>
         <p><%= movie.releaseYear%></p>
    <% }); %>

</div>



<% include ./partials/footer %>